<h1> "Song Details" </h1>
<h1><%= @song.name %></h1>

<p><%= @song.artist_id %></p>
<p><%= @song.genre_id %></p>

<%= link_to @song.artist.name, artist_path(@song.artist) %>
<%= link_to @song.genre.name, genre_path(@song.genre) %>